package main

import (
	"fmt"
	"strings"
	"aoc/utils"
)

const DAY = {{.Day}}

func Part1(input string) int {
	lines := strings.Split(input, "\n")
	
	// SOLUTION
	
	return result
}

func Part2(input string) int {
	lines := strings.Split(input, "\n")
	
	// SOLUTION
	
	return result
}

func main() {
	var input string := utils.LoadInput({{.Day}})
	fmt.Printf("Part 1: %d\n", Part1(input))
	fmt.Printf("Part 2: %d\n", Part2(input))
}
