package main

import (
	"fmt"
	"strings"
	"aoc/utils"
)

const DAY = {{.Day}}

func P(a ...any) { fmt.Println(a...) }
func Pf(a string, b ...any) { fmt.Printf(a, b...) }

func check(err error) {
	if (err != nil) {
		panic(err)
	}
}

func Part1(input string) int {
	lines := strings.Split(input, "\n")
	
	// SOLUTION

	var result int = 0
	
	return result
}

func Part2(input string) int {
	// lines := strings.Split(input, "\n")
	
	// SOLUTION

	var result int = 0
	
	return result
}

func main() {
	input = utils.LoadInput({{.Day}})
	Pf("Part 1: %d\n", Part1(input))
	Pf("Part 2: %d\n", Part2(input))
}

var input string = `
`
